.wrapper {
    transition: .15s;
    text-transform: uppercase;
    -webkit-transition: .15s;
    -moz-transition: .15s;
    -ms-transition: .15s;
    -o-transition: .15s;
    text-align: center;

    span {

        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;


        .btn_icon {
            fill: #FFFFFF;
        }
    }
}

.wrapper:active {
    transform: scale(0.96);
}

.purple {
    border: none;
    background: var(--color-purple);

    span {
        color: var(--text-color-m);
    }
}

.purple:hover {
    border: none;
    background: var(--color-purple-h);
    cursor: pointer;
}

.blue {
    border: none;
    background: var(--color-red);
    color: var(--text-color-m);

    span {
        color: var(--text-color-m);
    }
}

.blue:hover {
    border: none;
    background: var(--color-red-h);
    cursor: pointer;
}

.border {
    border: 1px solid var(--color-purple);
    background: transparent;
    color: var(--text-color-m);
}

.border:hover {
    border: 1px solid var(--color-purple-h);
    cursor: pointer;
}

.not_active {
    border: none;
    background: var(--color-grey-not-active);
    color: var(--text-color-m);
    cursor: not-allowed;
}

.not_active:active {
    transform: scale(1);
}

.none_background {
    border: none;
    background: transparent;
    cursor: pointer;
    opacity: .8;
    color: var(--color-purple);
}

.none_background:hover {
    opacity: 1;
    color: var(--color-purple-h);
}

.text_only {
    width: fit-content;
    padding: 0 0;
    font-size: 14px;
    line-height: 14px;

    .btn_icon {
        width: 0;
        height: 0;
    }
}

.icon_only {
    // max-height: 32px;
    height: fit-content;
    border-radius: 4px;
    width: fit-content;
    padding: 4px 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;

    .btn_icon {
        width: 24px;
        height: 24px;
    }
}

.small {
    height: fit-content;
    width: fit-content;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 2px 2px;
    font-size: 8px;
    line-height: 8px;

    .btn_icon {
        height: 14px;
        width: 14px;
    }
}

.narrow {
    height: fit-content;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 12px;
    line-height: 12px;

    .btn_icon {
        height: 12px;
        width: 12px;
        margin-right: 4px;
    }
}

.medium {
    height: fit-content;
    border-radius: 6px;
    padding: 10px 22px;
    font-size: 14px;
    line-height: 14px;

    .btn_icon {
        height: 14px;
        width: 14px;
        margin-right: 4px;
    }
}

.large {
    height: fit-content;
    border-radius: 8px;
    padding: 12px 32px;
    font-size: 18px;
    line-height: 18px;

    .btn_icon {
        height: 18px;
        width: 18px;
        margin-right: 4px;
    }
}

.all_width {
    height: fit-content;
    border-radius: 8px;
    padding: 12px 12px;
    width: 100%;
    font-size: 18px;
    line-height: 18px;

    .btn_icon {
        height: 18px;
        width: 18px;
        margin-right: 4px;
    }
}

.uppercase_yes {
    text-transform: uppercase;
}

.uppercase_no {
    text-transform: none;
}
@media (max-width: 375px) {
    .medium {
        height: fit-content;
        border-radius: 6px;
        padding: 10px 16px;
        font-size: 12px;
        line-height: 12px;
    
        .btn_icon {
            height: 14px;
            width: 14px;
            margin-right: 4px;
        }
    }
    
    .large {
        height: fit-content;
        border-radius: 8px;
        padding: 12px 26px;
        font-size: 14px;
        line-height: 14px;
    
        .btn_icon {
            height: 18px;
            width: 18px;
            margin-right: 4px;
        }
    }
    
    .all_width {
        height: fit-content;
        border-radius: 8px;
        padding: 10px 10px;
        width: 100%;
        font-size: 14px;
        line-height: 14px;
    
        .btn_icon {
            height: 18px;
            width: 18px;
            margin-right: 4px;
        }
    }
}