.login_wrapper {
    flex: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .login_container {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        overflow: hidden;
        flex: 1;

        .video {
            width: 80%;
            height: 100%;
        }

        .chat {
            width: 20%;
            height: 100%;
        }

        h2 {
            font-size: 48px;
            font-weight: 600;
            color: var(--text-color-m);
        }

        .login_form {
            display: flex;
            padding: 40px 20px;
            background: var(--background-color-items);
            align-items: center;
            flex-direction: column;
            gap: 10px;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;

            .messege {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 10px;
            }

            .switch_form {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 4px;
                margin-top: 10px;

                p {
                    color: var(--text-color-m);
                    font-size: 14px;
                    line-height: 14px;
                }
            }
        }


    }
}