.purshase_wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 600;

    .items_wrapper {
        position: relative;
        display: grid;
        width: 100%;
        padding: 6px 6px;
        flex-wrap: wrap;
        grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
        gap: 6px;
    }
}