.toast_wrapper {
    position: fixed;
    display: block;
    top: 76px;
    right: 20px;
    padding: 8px 20px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

    p {
        font-size: 18px;
        color: var(--text-color-m);
    }
}

.success {
    background-color: var(--color-purple);
    transition: .25s;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -ms-transition: .25s;
    -o-transition: .25s;
}

.error {
    transition: .25s;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -ms-transition: .25s;
    -o-transition: .25s;
    background-color: var(--color-red);
}

.success:hover {
    cursor: pointer;
    background-color: var(---color-purple-h);
}

.error:hover {
    cursor: pointer;
    background-color: var(--color-red-h);
}