.modal_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);

    overflow: hidden;
    z-index: -4;

    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;

    opacity: 0;
    pointer-events: none;


    .container {
        display: flex;
        position: relative;
        flex-direction: column;
        width: 200px;
        height: 200px;
        padding: 10px 10px;

        backdrop-filter: blur(16px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        background-color: rgba(17, 25, 40, 0.75);
        border-radius: 12px;
        border: 1px solid var(--color-purple);
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
        z-index: 21;

        button {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
}

.modal_wrapper_active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(19, 20, 23, .5);
    z-index: 20;

    display: flex;
    justify-content: center;
    align-items: center;


    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
    z-index: 20;

    opacity: 1;
    pointer-events: all;

    .container {
        display: flex;
        position: relative;
        flex-direction: column;
        width: 200px;
        height: 200px;
        padding: 10px 10px;

        backdrop-filter: blur(16px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        background-color: rgba(17, 25, 40, 0.75);
        border-radius: 12px;
        border: 1px solid var(--color-purple);
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
        z-index: 21;

        button {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
}