.header {
    position: static;
    top: 0;
    left: 0;
    background: var(--background-color-items);

    .wrapper {
        display: flex;

        ul {
            display: flex;
        }
    }
}