.header {
    position: static;
    top: 0;
    left: 0;
    background: var(--background-color-items);
    z-index: 2;

    .wrapper {
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left_side {
            display: flex;
            align-items: center;
            ul {
                display: flex;
            }
        }
        .right_side{
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}