.inventory_cart {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    .cart_wrapper {
        display: flex;
        gap: 10px;

        .items_list{
            display: flex;
            overflow-y: auto;
            flex-direction: column;
            gap: 10px;
        }
        .sale_wrapper{
            position: sticky;
            top: 0;
            display: flex;
            height: fit-content;
            
            .buttons_continer{
                display: flex;
                gap: 10px;
            }
        }
    }
}