.category_item{
    padding: 12px 12px;
    color: var(--text-color-m);
    font-size: 14px;
    line-height: 14px;
    font-weight: 300;
    text-transform: uppercase;
}
.none{
    border: 1px solid rgba(56, 56, 56);
    border-radius: 6px;
    background: rgba(56, 56, 56, 0.35);
}
.contraband{
    border: 1px solid rgba(58, 54, 28);
    border-radius: 6px;
    background: rgba(58, 54, 28, .35);
}

.covert{
    border: 1px solid rgba(67, 25, 19);
    border-radius: 6px;
    background: rgba(67, 25, 19, .35);
}

.classified{
    border: 1px solid #4f1e5366;
    border-radius: 6px;
    background: rgba(79, 30, 83, .35);
}

.restricted{
    border: 1px solid #2f1e53;
    border-radius: 6px;
    background: rgba(47, 30, 83, .35);
}

.mill_spec_grade{
    border: 1px solid rgba(23, 41, 83);
    border-radius: 6px;
    background: rgba(23, 41, 83, .35);
}

.industrial_grade {
    border: 1px solid rgba(19, 37, 53);
    border-radius: 6px;
    background: rgba(19, 37, 53, .35);
}

.consumer_grade{
    border: 1px solid rgba(44, 47, 53);
    border-radius: 6px;
    background: rgba(44, 47, 53, .35);
}