:root {
    --background-c-m: #131417;
    --background-color-items: #181a1e;

    --text-color-m: #FFFFFF;
    --text-color-m-h: #a3a3a3;
    --text-color-s: #7000E0;

    --color-purple: #6D6DE4;
    --color-purple-h: #4c4cdd;
    // --color-purple: #ee1ccb;
    // --color-purple-h: #a51890;
    --color-blue: #bf4664;
    --color-blue-h: #86374b;
    --color-grey-not-active: #404040;
}

*,
::after,
::before {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;

    font-family: Inter, sans-serif;
}

*::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: var(--background-color-items);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-purple);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

*::selection {
    background-color: var(--color-purple);
}

.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: var(--background-c-m);
}