.item_wrapper {
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 4px ;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background: var(--background-color-items);
    border: 1px solid var(--background-color-items);
    transition: .25s ease;
    -webkit-transition: .25s ease;
    -moz-transition: .25s ease;
    -ms-transition: .25s ease;
    -o-transition: .25s ease;

    .container {
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        color: #fff;
        width: 100%;
        height: 170px;
        position: relative;
        color: var(--text-color-m);
        background: var(--background-color-items);
        padding: 6px 6px;

        .dropdown_wrapper {
            width: 100%;
            position: absolute;
            margin-top: -23px;
            top: 0;
            left: 0;
            height: fit-content;
            z-index: 3;
            border-radius: 0 0 3px 3px;
            transition: .2s ease;
            overflow: hidden;
            -webkit-transition: .2s ease;
            -moz-transition: .2s ease;
            -ms-transition: .2s ease;
            -o-transition: .2s ease;

            .dropdown {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                background: var(--color-purple);
                overflow: hidden;
                padding: 2px 0;

                * {
                    text-decoration: none;
                    color: var(--text-color-m);
                    font-size: 14px;
                    font-weight: 300;
                }
            }
        }

        .item_info {
            text-decoration: none;
            height: 100%;
            overflow: hidden;
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .content {
                width: 100%;
                height: 100%;

                .image {
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    position: absolute;

                    img {
                        margin-top: 10px;
                        width: 128px;
                        transition: .2s ease;
                        -webkit-transition: .2s ease;
                        -moz-transition: .2s ease;
                        -ms-transition: .2s ease;
                        -o-transition: .2s ease;
                    }
                }
            }

            .info {
                display: flex;
                flex-direction: column;
                width: 100%;

                color: var(--text-color-m);

                .wear {
                    font-size: 12px;
                    line-height: 15px;
                }

                .price {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 19px;
                    display: flex;
                    align-items: center;
                }

                .name {
                    font-size: 12px;
                    line-height: 15px;
                    white-space: nowrap;
                    overflow: hidden;
                    color: #adaeaf;
                    text-overflow: ellipsis;
                }
            }
        }
    }

}

.item_wrapper:hover {

    .container {
        .dropdown_wrapper {
            margin-top: 0;
            top: 0;
            left: 0;

        }

        a {
            .content {

                .image {

                    img {
                        transform: scale(1.15);
                        -webkit-transform: scale(1.15);
                        -moz-transform: scale(1.15);
                        -ms-transform: scale(1.15);
                        -o-transform: scale(1.15);
                    }
                }
            }
        }
    }
}