.wrapper{
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    h1{
        color: var(--text-color-m);
        font-size: 88px;
        font-weight: 900;
    }
}